<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NexBank | Banco Digital</title>
  <link rel="stylesheet" href="/static/home.css">

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>

<body>
  <!-- Background Animation -->
  <div id="vanta-bg"></div>

  <!-- Header -->
  <header class="header">
    <div class="header-container">
      <div class="logo">
        <div class="">
        </div>
        <a href="home">
          <h1 class="logo-text">NexBank</h1>
        </a>
      </div>
      <nav class="nav">
        <a href="#">Conta</a>
        <a href="#">Cartões</a>
        <a href="#">Finanças</a>
        <a href="#">Serviços</a>
        <a href="/logout">sair</a>
      </nav>
      <div class="header-actions">
        <button><i data-feather="bell"></i></button>
        <button><i data-feather="user"></i></button>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <main class="main">
    <div class="grid">
      <!-- Left Column -->
      <div class="left-col">
        <!-- Balance Card -->
        <div class="card" data-aos="fade-right">
          <div class="card-header">
            <div class="balance-info">
              <p class="text-silver ">Saldo disponível</p>
              <h2 class="balance ">{{session.saldo}}</h2>
            </div>
            <div class="btn-group">
              <p class="position-count-number">Conta N: {{session.conta}}</p>
              <!-- <button class="btn-gold">Transferir</button>
              <button class="btn-outline">Depositar</button> -->
            </div>
          </div>
          <div class="card-footer">
            <div>
              <p class="text-silver small card-footer-text">Cartão digital</p>
              <p>{{session.numero_cartao}}</p>
            </div>
            <div>
              <p class="text-silver small card-footer-text">Limite disponível</p>
              <p>{{session.credito}}</p>
            </div>
          </div>
        </div>

        <!-- Quick Actions -->
        <div class="card card-actions" data-aos="fade-right" data-aos-delay="100">
          <div class="title-text-card">
            <h3>Ações rápidas</h3>
          </div>
          <div class="actions">
            <button>
              <div class="icon"><img class="icon-pix" src="/static/icons/pix.svg"></div>
              <span>Pix</span>
            </button>
            <a href="{{url_for('transferir')}}">
              <button>
                <div class="icon"><img class="icon-transferir" src="/static/icons/transferir.png"></div>
                <span>Transferir</span>
              </button></a>
            <button>
              <div class="icon"><img class="icon-receber" src="/static/icons/transferir.png"></div>
              <span>Receber</span>
            </button>
            <button>
              <div class="icon"><img class="icon-pagamentos" src="/static/icons/pagamentos.png"></div>
              <span>Pagamentos</span>
            </button>
            <button>
              <div class="icon"><i data-feather="credit-card"></i></div>
              <span>Cartões</span>
            </button>
            <button>
              <div class="icon"><i data-feather="pie-chart"></i></div>
              <span>Finanças</span>
            </button>
            <!-- <button>
              <div class="icon"><i data-feather="smartphone"></i></div>
              <span>Recargas</span>
            </button> -->
          </div>
        </div>

        <!-- Transactions -->
        <div class="card" data-aos="fade-right" data-aos-delay="200">
          <div class="card-header title-text-card">
            <h3>Transações recentes</h3>
            <a class="link">Ver todas</a>
          </div>
          <div class="transactions">
            {% for transacao in transacoes %}
            <div class="transaction">
              <div class="tx-info">
                <div class="tx-icon"><i data-feather="shopping-bag"></i></div>
                <div class="transaction-details">
                  <p class="transaction-details-text">Conta N.º: {{transacao.origem}}</p>
                  <div class="transation-row">
                    <div>
                      <p class="text-silver small data-transacoes">{{ transacao.data }}</p>
                    </div>
                    <div>
                      <p class="text-silver small descricao-transacoes">Descrição: {{ transacao.descricao }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <p class="valor-transacao {% if transacao.valor_num >= 0 %}positive{% else %}negative{% endif %}">
                {{ transacao.valor }}
              </p>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="right-col">
        <!-- Credit Card -->
        <div class="card" data-aos="fade-left">
          <div class="credit-card">
            <div class="cc-header">
              <div class="div-card-number">
                <p class="text-silver small">Cartão Black</p>
                <p class="card-number">{{session.numero_cartao}}</p>
              </div>
              <div class="cc-logo">BLACK</div>
            </div>
            <div class="cc-footer">
              <div clas>
                <p class="text-silver small card-text-foot-position">Titular</p>
                <p>{{session.usuario}}</p>
              </div>
              <div>
                <p class="text-silver small card-text-foot-position">Válido até</p>
                <p class="card-valid-date">{{session.validade_cartao}}</p>
              </div>
            </div>
          </div>
          <div class="cc-actions">
            <button><i data-feather="eye"></i> Ver CVV</button>
            <button><i data-feather="credit-card"></i> Detalhes</button>
          </div>
        </div>

        <!-- Investments -->
        <div class="card" data-aos="fade-left" data-aos-delay="100">
          <div class="title-text-card">
            <h3>Finanças</h3>
          </div>
          <!-- <div class="investment">
            <p><span class="text-silver small"></span>Conta de luz<br></p>
            <p class="negative">R$ 350,00</p>
          </div>
          <div class="investment">
            <p><span class="text-silver small"></span>Feira<br></p>
            <p class="negative">R$ 1.000,00</p>
          </div>
          <div class="investment">
            <p><span class="text-silver small"></span>Fundo Imobiliário<br></p>
            <p class="positive">R$: 500.00</p>
          </div> -->
          <button class="btn-gold full">Ver completo</button>
        </div>

        <!-- Offers -->
        <!-- <div class="card" data-aos="fade-left" data-aos-delay="200">
        <div class="title-text-card">
          <h3>Ofertas para você</h3>
        </div>
        <div class="offer">
          <p>Empréstimo pessoal com taxas especiais</p>
          <p class="text-gold small">Taxa a partir de 1,29% ao mês</p>
          <button class="btn-outline small">Simular</button>
        </div>
      </div> -->
      </div>
    </div>
  </main>
  <!--
  Mobile Navigation -->
  <div class="mobile-nav">
    <button class="active"><i data-feather="home"></i> Início</button>
    <button><i data-feather="credit-card"></i> Cartões</button>
    <button><i data-feather="pie-chart"></i> Finanças</button>
    <button><i data-feather="menu"></i> Mais</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.globe.min.js"></script>
  <script>
    VANTA.GLOBE({
      el: "#vanta-bg",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      color: 0xd4af37,
      backgroundColor: 0x0a0a0a,
      size: 0.8
    });

    AOS.init({ duration: 800, easing: 'ease-in-out', once: true });
    feather.replace();
  </script>
</body>

</html>